:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Red Hat Display", sans-serif;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

.button {
    padding: 1rem 2.5rem;
    color: var(--white);
    border-radius: 999px;
}

.button-purple {
    background-color: var(--purple-600);
}

.button-purple span {
    color:var(--purple-300);
}

.button-cyan {
    background-color: var(--cyan-600);
}

.button-cyan span {
    color:var(--cyan-300);
}

a.button-cyan, a.button-purple {
    text-decoration: none;
}

.section-number{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-number::before {
    content: "";
    background-color: var(--slate-300);
    width: 1px;
    height: 5rem;
}

.section-number > span {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid var(--slate-300);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.hero {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}

.hero::before {
    height: clamp(160px, 23.55px + 36.39vw, 303px);
    content: "";
    background-image: url("./assets/tablet/image-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 2rem 2rem;
    text-align: center;
}

.hero-header {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 900;
    color: var(--slate-900);
}

.hero-text {
    color: var(--slate-600);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.features {
    padding: 2rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 4rem;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    list-style-type: none;
}

.features-images img {
    height: 144px;
    border-radius: 0.5rem;
    object-fit: cover;
}

.features-overline {
    font-size: 0.75rem;
    line-height: 1.1;
    letter-spacing: 0.33em;
    font-weight: 900;
    color: var(--cyan-600);
    text-transform: uppercase;
}

.features-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.features-header {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.1;
    color: var(--slate-900);
}

.features-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--slate-600);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer .section-number {
    margin: 0 0 -1.75rem 0;
    z-index: 2;
}

.footer-content {
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:
            linear-gradient(rgb(77 150 168 / 0.9), rgb(77 150 168  / 0.9)),
            url("./assets/mobile/image-footer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    gap: 3rem;
}

.footer-header {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.1;
}

.footer-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer .button-purple {
    display: inline-block
}


@media screen and (min-width: 768px) {
    .hero-buttons {
        flex-direction: row;
    }

    .features-images {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
    .footer-content {
        background-image:
                linear-gradient(rgb(77 150 168 / 0.9), rgb(77 150 168  / 0.9)),
                url("./assets/tablet/image-footer.jpg");
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding-top: 5rem;
    }
    .hero {
        flex-direction: row;
        gap: 2rem;
        padding: 4rem 0;
    }
    .hero-content {
        max-width: 450px;
        padding: 0;
    }
    .hero-header {
        font-size: 4rem;
    }
    .hero::before {
        flex: 1;
        height: 360px;
        background-size: 394px 303px;
        background-image: url("./assets/desktop/image-hero-left.png");
        background-position: right top;
        transform: translateX(-86px);
    }
    .hero::after {
        flex: 1;
        height: 360px;
        content: "";
        background-image: url("./assets/desktop/image-hero-right.png");
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 394px 303px;
        transform: translateX(86px);
    }

    .hero-buttons {
        flex-direction: row;
    }

    .features-images {
        grid-template-columns: repeat(4, 1fr);
    }

    .features-images img {
        height: 256px;
    }

    .features-description {
        max-width: 544px;
    }

    .features-overline {
        font-size: 1rem;
    }
    .features-header {
        font-size: 2.5rem;
    }
    .features-text {
        font-size: 1.125rem;
    }

    .footer-content {
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgb(77 150 168 / 0.9), rgb(77 150 168  / 0.9)),
        url("./assets/desktop/image-footer.jpg");
    }

    .footer-header {
        text-align: left;
        font-size: 2.5rem;
        max-width: 355px;
    }

    .footer-text {
        max-width: 355px;
        font-size: 1.125rem;
        text-align: left;
    }

}