:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Red Hat Display", sans-serif;
}

main {
    flex-grow: 1;
}

.button-purple {
    background-color: var(--purple-600);
    padding: 16px 40px;
    color: var(--white);
    border-radius: 29px;
}

.button-purple span {
    color:var(--purple-300)
}

.button-cyan {
    background-color: var(--cyan-600);
    padding: 16px 40px;
    color: var(--white);
    border-radius: 29px;
}

.button-cyan span {
    color:var(--cyan-300);
}

a.button-cyan, a.button-purple {
    text-decoration: none;
}

header {
    padding: 48px 80px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero-heading {
    font-size: 64px;
    line-height: 1.1;
    font-weight: bold;
    color: var(--slate-900);
}

.hero-text {
    color: var(--slate-600);
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
